body {
  background-image:url("../assets/images/bg_nocultists.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(230, 255, 139);
  font-family: 'Henny Penny', cursive;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encapsulate {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent 1px solid;
}

section.artifactboard {
  display: grid;
  height: 220px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  min-width: 0;
  min-height: 0;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/images/stone_slab_2.png');

}

.buttons-and-board {
  display: flex;
  flex-direction: column;
  
}


.slot {
  border: 1px transparent solid;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.reset {
  background-color: rgb(134, 70, 255);
  font-size: 15px;
  color: ;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(61, 31, 117);
  font-family: 'Henny Penny', cursive;
}

.reset:hover {
  background-color: rgb(109, 57, 206);
  color: antiquewhite;
}

.reset:active {
  background-color: rgb(109, 57, 206);
  box-shadow: 0 5px rgb(61, 31, 117);
  transform: translateY(4px);
}

.music {
  background-color: rgb(134, 70, 255);
  font-size: 10px;
  width: 2vmax;
  height: 2vmax;
  margin: 5px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(61, 31, 117);
  font-family: 'Henny Penny', cursive;
}

.music:hover {
  background-color: rgb(109, 57, 206);
  color: antiquewhite;
}

.music:active {
  background-color: rgb(109, 57, 206);
  box-shadow: 0 5px rgb(61, 31, 117);
  transform: translateY(4px);
}

#playmusic {
  background-image:url("../assets/images/speakeron.png");
  background-size: contain;
}

#pausemusic {
  background-image:url("../assets/images/speakeroff.png");
  background-size: contain;
}

#p1, #p2 {
  border: 1px transparent solid;
  max-width: 25%;
  min-height: 35%;
}

#iconcyan {
  max-height: 4vmin;
  animation-name: summoncyan;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

#iconred {
  max-height: 4vmin;
  animation-name: summonred;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

@keyframes summonred {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes summoncyan {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
  }
}
