body {
  background-image:url("../assets/images/cultist_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  font-family: 'Ole', cursive;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.encapsulate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: transparent 1px solid;
}

section.artifactboard {
  display: flex;
  display: grid;
  grid-template-rows: repeat(6, 7vmin);
  grid-template-columns: repeat(7, 7vmin);
  text-align: center;
  flex: auto;
}

.buttons-and-board {
  display: flex;
  flex-direction: column;
  
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slot {
  border: 1px transparent solid;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  
}

.reset {
  background-color: yellowgreen;
  font-size: 25px;
  margin-bottom: 20px;
  
}

/* .toggles {
  background-color: hotpink;
  font-size: 10px;
  margin: auto;  
} */

#p1, #p2 {
  display: flexbox;
  flex: auto;
  border: 1px transparent solid;
  max-width: 35%;
  min-height: 45%;
}


h1, h2 {
  display: flex;
}

