body {
  background-color: indigo;
  /* ! remove or change bg above before presenting */
  font-family: 'Ole', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.encapsulate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: red 1px solid;
}

section.artifactboard {
  display: flex;
  display: grid;
  grid-template-rows: repeat(6, 7vmin);
  grid-template-columns: repeat(7, 7vmin);
  text-align: center;
  flex: auto;
}

.buttons-and-board {
  display: flex;
  flex-direction: column;
  
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slot {
  border: 1px transparent;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  
}

.reset {
  background-color: yellowgreen;
  font-size: 25px;
  margin: auto;
  
}

.toggles {
  background-color: hotpink;
  font-size: 10px;
  margin: auto;  
}

#p1, #p2 {
  display: flexbox;
  flex: auto;
  border: 1px yellow solid;
  max-width: 25%;
  min-height: 45%;
}


h1, h2 {
  display: flex;
}

